@import '../sass/variables';

html,
body {
  font-family: 'adineue-regular';
  height: 100%;
  letter-spacing: $espaco-letra;
  line-height: 110%;
  margin: 0;
  position: relative;
  font-size: $fonte-primaria;
  text-transform: uppercase;
}
