@import './mixins';

.botao {
  display: flex;
  flex-direction: row;
  font-family: 'adineue-regular';
  justify-content: center;
  position: relative;

  button {
    @include icone-botao;
    background-color: $cor-primaria;
    border: 0;
    color: $cor-base;
    display: inline-block;
    font-family: 'adineue-regular';
    height: $botao-tamanho;
    letter-spacing: $espaco-letra;
    padding: 0 $tamanho-m;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: $tamanho-pp;

    .borda-botao {
      display: none;
    }
  }

  button:active {
    background-color: $cor-ativa;
  }
}

.botao-buscar {
  button {

    background-image: url('../assets/svg/buscar.svg');
    background-repeat: no-repeat;
    text-align: left;
    width: 100%;
  }
}

.botao-menu {
  display: block;

  button {
    background-color: $cor-base;
    background-image: url('../assets/svg/seta.svg');
    color: $cor-primaria;
    font-size: 16px;
    margin-bottom: $tamanho-m;
    text-align: left;
    width: 100%;
  }
}

.botao-transparente {
  button {
    background-color: $cor-base;
    border: 1px solid $cor-primaria;
    color: $cor-primaria;
  }
}

.botao-duplo {
  justify-content: space-between;

  button {
    align-self: flex-start;
    flex: 1 1 auto;
  }
}

.botao-desabilitado {
  opacity: $opacidade;
  pointer-events: none;
}
