.botao {
  display: flex;
  flex-direction: row;
  font-family: 'adineue-regular';
  justify-content: center;
  position: relative;

  button {
    background-color: $cor-primario;
    border: 0;
    color: $cor-base;
    display: inline-block;
    font-family: 'adineue-regular';
    letter-spacing: $espaco-letra;
    line-height: $tamanho-g;
    padding: 0 $tamanho-m;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 5px;

    .borda-botao {
      display: none;
    }
  }
}

.botao-secundario {
  button {
    background-color: $cor-base;
    color: $cor-primario;
    margin-bottom: 0;
  }

  .borda-botao {
    background-color: transparent;
    border: 1px solid $cor-base;
    border-width: 1px;
    height: 40px;
    left: 22px;
    position: absolute;
    top: -10px;
    width: calc(100% - 20px);
  }
}

.botao-transparente {
  button {
    background-color: $cor-base;
    border: 1px solid $cor-primario;
    color: $cor-primario;
  }
}

.botao-duplo {
  justify-content: space-between;

  button {
    align-self: flex-start;
    flex: 1 1 auto;
  }
}

.botao-desabilitado {
  opacity: 0.5;
  pointer-events: none;
}
