.botao {
  position: relative;

  button {
    background-color: $cor-primario;
    border: 0;
    color: $cor-base;
    display: inline-block;
    line-height: $tamanho-g;
    margin: 0 0 $tamanho-m $tamanho-m;
    padding: 0 $tamanho-m;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 5px;

    .borda-botao {
      display: none;
    }
  }
}

.botao-secundario {
  button {
    background-color: $cor-base;
    color: $cor-primario;
  }

  .borda-botao {
    background-color: transparent;
    border: 1px solid $cor-base;
    border-width: 1px;
    height: 40px;
    left: 23px;
    position: absolute;
    top: -9px;
    width: calc(100% - 20px);
  }
}
