@font-face {
  font-family: adineue-bold;
  src: url('../assets/fonts/adineuePRO-Bold.otf') format("opentype");
}

@font-face {
  font-family: adineue-regular;
  src: url('../assets/fonts/adineuePRO-Regular.otf') format("opentype");
}

@font-face {
  font-family: ds-digit;
  src: url('../assets/fonts/DS-DIGIT.TTF') format("opentype");
}
