@font-face {
  font-family: adineue-bold;
  src: url('../assets/fonts/adineuePRO-Bold.otf') format("opentype");
}

@font-face {
  font-family: adineue-regular;
  src: url('../assets/fonts/adineuePRO-Regular.otf') format("opentype");
}

@font-face {
  font-family: lcd;
  src: url('../assets/fonts/lcd.TTF') format("opentype");
}
