@font-face {
  font-family: adineue-bold;
  src: url('../assets/fonts/adineuePRO-Bold.otf') format("opentype");
}

@font-face {
  font-family: adineue-regular;
  src: url('../assets/fonts/adineuePRO-Regular.otf') format("opentype");
}

@font-face {
  font-family: dotMatrix;
  src: url('../assets/fonts/dotMatrix.ttf') format("truetype");
}

@font-face {
  font-family: dotMatrixBold;
  src: url('../assets/fonts/dotMatrixBold.ttf') format("truetype");
}
