$cor-base: #ffffff;
$cor-primario: #000000;
$cor-secundario: #BBBBBC;

$tamanho-pp: 4px;
$tamanho-p: 10px;
$tamanho-m: 20px;
$tamanho-g: 40px;
$tamanho-gg: 60px;

$espaco-letra: 1px;

$texto-sombra: 3px 4px 5px $cor-primario;

$borda-p: 1px solid $cor-secundario;
$borda-m: 2px solid $cor-primario;

$opacidade: 0.7;
