<section>
  <div class="ajuste-placar">
    <app-cabecalho [cabecalhoTexto]="cabecalhoTexto"></app-cabecalho>

    <div class="ajuste-placar-conteudo">
      <app-form-texto
        [formTexto]="formTextoMandante"
        (formTextoResultado)="mandanteResultado($event)"
      ></app-form-texto>

      <app-form-texto
        [formTexto]="formTextoVisitante"
        (formTextoResultado)="visitanteResultado($event)"
      ></app-form-texto>

      <app-form-toggle
        [formToggle]="formToggleCronometro"
        (formToggleResultado)="cronometroResultado($event)"
      ></app-form-toggle>

      <app-form-radio
        *ngIf="placar.cronometro"
        [formRadio]="formRadioQtdPeriodo"
        (formRadioResultado)="periodoResultado($event)"
      ></app-form-radio>

      <app-form-radio
        *ngIf="placar.cronometro"
        [formRadio]="formRadioDuracaoPeriodo"
        (formRadioResultado)="duracaoResultado($event)"
      ></app-form-radio>
    </div>

    <div class="teclado botao botao-duplo">
      <app-botao-voltar class="botao botao-transparente"></app-botao-voltar>

      <app-botao
        class="botao"
        [botaoRota]="botaoRota"
        [botaoTexto]="botaoTexto"
        (cliqueBotao)="botaoConfirmar($event)"
      ></app-botao>
    </div>
  </div>
</section>
