<section>
  <div
    class="modal"
    [class.modal-aberto]="isModalAberto"
  >

    <div
      class="overlay"
      (click)="modalFechar()"
    ></div>

    <div class="modal-corpo">

      <div class="modal-inveite"></div>

      <div class="modal-titulo">{{ modalObject.titulo }}</div>

      <div
        class="modal-texto"
        *ngIf="modalObject.texto"
      >{{ modalObject.texto }}</div>

      <div
        class="botao modal-teclado"
        [class.botao-duplo]="modalObject.botao === 'confirmar'"
      >
        <app-botao
          *ngIf="modalObject.botao === 'confirmar'"
          class="botao botao-transparente"
          [botaoTexto]="btnCancelar"
          (click)="modalFechar()"
        ></app-botao>

        <app-botao
          class="botao"
          [botaoTexto]="modalObject.botao"
          (click)="modalConfirmar()"
        ></app-botao>
      </div>
    </div>
  </div>
</section>
