@import '../../../../sass/styles.scss';

.modal {
  display: none;
  z-index: 1000;

  &-corpo {
    background-color: $cor-base;
    bottom: 0;
    padding: $tamanho-m;
    position: absolute;
    width: 100vw;
    z-index: 9999;
  }

  &-inveite {
    background-color: $cor-secundaria;
    height: $tamanho-pp;
    width: $tamanho-g;
    align-self: center;
    margin: 0 auto $tamanho-m;
  }

  &-titulo {
    @include form-titulo;
    font-size: 100%;
    margin-bottom: $tamanho-m;
    width: 100%;
  }

  &-texto {
    @include form-descricao;
    margin-bottom: $tamanho-m;
  }
}

.modal-aberto {
  display: block;
}
