@import '../../../../sass/styles.scss';

.form-radio {
  @include form-caixa;

  &-titulo {
    @include form-titulo;
  }

  &-descricao {
    @include form-descricao;
  }

  &-radio {
    display: flex;
    flex-direction: row;
    height: $tamanho-m;
    margin-bottom: $tamanho-pp;
    width: 100%;
  }

  &-item {
    display: flex;
    flex-direction: row;
    width: 100%;

    input {
      display: none;
    }

    input:checked+label {
      border-bottom-color: $cor-primaria;
      color: $cor-primaria;
      z-index: 1;
    }

    label {
      border-bottom: $borda-m;
      border-bottom-color: $cor-base;
      box-sizing: border-box;
      color: $cor-secundaria;
      flex: 1 1 auto;
      height: 24px;
      text-align: center;
      transition: border-color .15s ease-out,
        background-color .15s ease-out,
        color .25s ease-out;
    }
  }
}
