<div class="form-radio">
  <div class="form-radio-titulo">{{ formRadio.titulo }}</div>

  <div
    class="form-radio-descricao"
    *ngIf="formRadio.descricao"
  >{{ formRadio.descricao }}</div>

  <div class="form-radio-radio">
    <div
      class="form-radio-item"
      *ngFor="let item of formRadio.valor"
    >
      <input
        type="radio"
        [id]="item"
        [value]="item"
        [checked]="item === formRadio.checked"
      >
      <label
        [for]="item"
        (click)="botaoConfirmar(item)"
      >{{ item }}</label>
    </div>
  </div>
</div>
