<section>
  <div class="definir">
    <app-cabecalho [textoCabecalho]="textoCabecalho"></app-cabecalho>

    <div class="definir-conteudo">
      <app-selecionar-esporte
        *ngIf="isSelecionarEquipes"
        (esporteSelecionado)="esporteSelecionado($event)"
      ></app-selecionar-esporte>

      <app-form-texto [formTexto]="formTextoCasa"></app-form-texto>

      <app-form-texto [formTexto]="formTextoVisitante"></app-form-texto>
    </div>

    <div class="definir-rodape botao-duplo">
      <app-botao-voltar class="botao"></app-botao-voltar>

      <app-botao
        [attr.disabled]="isConfirmar"
        class="botao"
        [rotaBotao]="rotaBotao"
        [textoBotao]="textoBotao"
        (cliqueBotao)="selecionarPagina($event)"
      ></app-botao>
    </div>
  </div>
</section>
