@import '../../sass/styles.scss';

.definir {
  height: 100%;
  position: absolute;
  width: 100%;

  &-conteudo {}

  &-rodape {
    background-color: $cor-base;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}
