<section>
  <div class="definir">
    <app-cabecalho [textoCabecalho]="textoCabecalho"></app-cabecalho>

    <div class="definir-conteudo">
      <app-selecionar-esporte
        *ngIf="isSelecionarEquipes"
        (esporteSelecionado)="esporteSelecionado($event)"
      ></app-selecionar-esporte>

      <app-form-texto
        *ngIf="isPlacar"
        [formTexto]="formTextoCasa"
      ></app-form-texto>

      <app-form-texto
        *ngIf="isPlacar"
        [formTexto]="formTextoVisitante"
      ></app-form-texto>

      <app-form-toggle
        *ngIf="isPlacar"
        [formToggle]="formToggleCronometro"
        (formToggleResultado)="formToggleResultadoCronometro($event)"
      ></app-form-toggle>

      <app-form-radio
        *ngIf="isPlacar"
        [formRadio]="formRadioQtdPeriodo"
        (formRadioResultado)="formRadioResultadoPediodo($event)"
      ></app-form-radio>

      <app-form-radio
        *ngIf="isPlacar"
        [formRadio]="formRadioDuracaoPeriodo"
        (formRadioResultado)="formRadioResultadoPediodo($event)"
      ></app-form-radio>
    </div>

    <div class="definir-rodape botao-duplo">
      <app-botao-voltar class="botao"></app-botao-voltar>

      <app-botao
        [attr.disabled]="isConfirmar"
        class="botao"
        [rotaBotao]="rotaBotao"
        [textoBotao]="textoBotao"
        (cliqueBotao)="selecionarPagina($event)"
      ></app-botao>
    </div>
  </div>
</section>
