@import '../../../../sass/styles.scss';

.cabecalho {
  display: flex;
  height: $botao-tamanho;
  justify-content: space-between;
  padding: 0 $tamanho-m;
  width: calc(100% - $tamanho-gg);

  img {
    flex: 0 0 auto;
    height: 18px;
    align-self: center;
  }

  &-texto {
    align-self: center;
    flex: 1 0 auto;
    margin: $tamanho-pp 0 0 $tamanho-m;
  }
}
