@import '../../sass/styles.scss';

.principal {
  background-color: $cor-base;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  position: relative;
  width: 100%;

  img {
    height: 166px;
    position: absolute;
    top: $tamanho-m;
  }

  &-buscar {
    padding: $tamanho-g $tamanho-m;
  }

  &-menu {
    background-color: $cor-primaria;
    padding: $tamanho-g $tamanho-m $tamanho-m;
    width: 100%;
  }
}
