@import '../../sass/styles.scss';

.principal {
  background-color: $cor-primario;
  background-image: url('../../assets/images/principal.png');
  background-size: cover;
  height: 100%;
  position: relative;

  &-cabecalho {
    background-color: $cor-base;
    padding: $tamanho-m;
    width: calc(100% - $tamanho-m);
  }

  &-menu {
    bottom: 32px;
    position: absolute;
    z-index: 1;
  }

  &-rodape {
    background-color: $cor-primario;
    bottom: 0;
    height: 100px;
    position: absolute;
    width: 100%;
  }
}
