<section class="principal">

  <img
    src="../../assets/svg/logo.svg"
    alt="logo"
  >

  <div class="principal-buscar botao-buscar">
    <app-botao
      class="botao"
      [botaoRota]="buscaBatao.rota"
      [botaoTexto]="buscaBatao.texto"
      (cliqueBotao)="selecionarPagina($event)"
    ></app-botao>
  </div>

  <menu class="principal-menu">
    <div *ngFor="let item of menuPrincipal">
      <app-botao
        class="botao botao-menu"
        [botaoRota]="item.rota"
        [botaoTexto]="item.texto"
        (cliqueBotao)="selecionarPagina($event)"
      ></app-botao>
    </div>
  </menu>
</section>
