@import '../../../../sass/styles.scss';

.form-toggle {
  border-bottom: $borda-p;
  display: flex;
  margin: $tamanho-m;
  font-size: 12px;

  &-esquerda {
    flex: 1 1 auto;
  }

  &-titulo {
    margin-bottom: $tamanho-p;
  }

  &-descricao {
    margin-bottom: $tamanho-p;
    text-transform: none;
  }

  &-direita {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }

  &-toggle {
    flex: 0 1 auto;
    margin-bottom: $tamanho-p;

    .btn {
      border: $borda-m;
      display: inline-block;
      height: 24px;
      position: relative;
      text-align: center;
      transition: background 600ms ease, color 600ms ease;
    }

    input[type="radio"].toggle {
      display: none;

      &+label {
        cursor: pointer;
        width: $tamanho-g;

        &:hover {
          background: none;
          color: $cor-primario;
        }

        &:after {
          background: $cor-primario;
          content: "";
          height: 100%;
          position: absolute;
          top: 0;
          transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
          width: 30px;
          z-index: -1;
        }
      }

      &.toggle-left+label {
        border-right: 0;
        height: 24px;
        left: -1px;
        top: -2px;

        &:after {
          left: 100%
        }
      }

      &.toggle-right+label {
        margin-left: -5px;
        width: 30px;

        &:after {
          left: -100%;
        }
      }

      &:checked+label {
        cursor: default;
        transition: color 200ms;

        &:after {
          left: 0;
        }
      }
    }
  }
}
