<div class="form-toggle">
  <div class="form-toggle-esquerda">
    <div class="form-toggle-titulo">{{ formToggle.titulo }}</div>

    <div
      class="form-toggle-descricao"
      *ngIf="formToggle.descricao"
    >{{ formToggle.descricao }}</div>
  </div>

  <div class="form-toggle-direita">
    <div class="form-toggle-toggle">
      <input
        id="toggle-on"
        class="toggle toggle-left"
        name="toggle"
        value="false"
        type="radio"
        (change)="formToggleMudou()"
        checked
      >
      <label
        for="toggle-on"
        class="btn"
      >

        <img
          src="../../../../assets/svg/checkbox.svg"
          alt="na trave"
        >
      </label>

      <input
        id="toggle-off"
        class="toggle toggle-right"
        name="toggle"
        value="true"
        type="radio"
        (change)="formToggleMudou()"
      >
      <label
        for="toggle-off"
        class="btn btn-off"
      >
        <img
          src="../../../../assets/svg/fechar.svg"
          alt="na trave"
        >
      </label>
    </div>
  </div>
</div>
