@import '../../../../sass/styles.scss';

.form-toggle {
  @include form-caixa;
  display: flex;

  &-esquerda {
    flex: 1 1 auto;
  }

  &-titulo {
    @include form-titulo;
  }

  &-descricao {
    @include form-descricao;
  }

  &-direita {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }

  &-toggle {
    flex: 0 1 auto;
    margin-bottom: $tamanho-p;

    .btn {
      border: $borda-m;
      display: inline-block;
      height: 30px;
      position: relative;
      text-align: center;
      transition: background 600ms ease, color 600ms ease;
    }

    input[type="radio"].toggle {
      display: none;

      &+label {
        cursor: pointer;
        width: $tamanho-g;

        &:hover {
          background: none;
          color: $cor-primaria;
        }

        &:after {
          background: $cor-primaria;
          content: "";
          height: 100%;
          position: absolute;
          top: 0;
          transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
          width: 100%;
          z-index: -1;
        }
      }

      &.toggle-left+label {
        border-right: 0;
        height: 30px;
        left: 0px;
        top: 0px;

        &:after {
          left: 100%
        }
      }

      &.toggle-right+label {
        margin-left: -5px;

        &:after {
          left: -100%;
        }
      }

      &:checked+label {
        cursor: default;
        transition: color 200ms;

        &:after {
          left: 0;
        }
      }
    }
  }
}
