@import '../../sass/styles.scss';

.placar {
  &-caixa {
    border: 2px outset $cor-primario;
    box-shadow: -5px 5px 0;
    // font-family: 'v5-prophits';
    font-size: 30px;
    line-height: 110%;
    margin: 0 $tamanho-m;
  }

  &-placar,
  &-cronometro {
    display: flex;
    padding: $tamanho-p $tamanho-m;
    width: calc(100% - $tamanho-g);
  }

  &-equipes {
    flex: 1 1 auto;
    margin-right: $tamanho-m;
  }

  p:first-of-type {
    margin-bottom: $tamanho-p;
  }

  &-divisor {
    border-top: 2px solid $cor-primario;
    margin: 0 $tamanho-m;
  }

  &-cronometro {
    p {
      flex: 0 1 auto;
      padding: 0;
    }

    p:first-of-type {
      flex: 1 1 auto;
      margin: 0;
    }
  }
}
