@import '../../sass/styles.scss';

.placar {
  &-banner {
    background-image: url('../../assets/images/placar.jpg');
    background-position: 50% 80%;
    background-size: cover;
    height: 140px;
    width: 100%;
    position: relative;
  }

  &-placar {
    align-items: center;
    display: flex;
    margin-top: $tamanho-g;
    width: 100%;
  }

  &-esquerdo,
  &-direito {
    flex: 1 1 auto;
  }

  &-esquerdo {
    text-align: right;
  }

  &-centro {
    flex: 0 1 auto;
    margin: 0 $tamanho-p;
  }

  &-ponto {
    font-family: 'lcd';
    font-size: 90px;
    line-height: 100%;
    height: 100%;
  }

  &-cronometro,
  &-tempo {
    width: 100%;
    text-align: center;
  }

  &-cronometro {
    font-family: 'lcd';
    font-size: $tamanho-g;
    line-height: 100%;
  }

  &-botoes {
    background-color: blue;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
  }
}
