@import '../../../../sass/styles.scss';

.form-texto {
  @include form-caixa;

  &-titulo {
    @include form-titulo;
  }

  &-descricao {
    @include form-descricao;
  }

  &-input {
    border: none;
    height: $tamanho-m;
    margin: 0;
    margin-bottom: $tamanho-p;
    padding: 0;
    width: 100%;
  }
}
